*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
    background: white;
    padding: 10pm;
    border-radius: 5px;
    box-shadow: 0px 0px 10 px #0000001a;
}

body{
    background: #d92323;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    background: linear-gradient(to right, #d5d8b4, #394d1e);
}

header{
    background: #d92323;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

ul{
    list-style: none;
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center; /* centers items horizontally */
    background-color: #f7da39;
}

li{
    margin: 0 20px;
}

nav a{
    display: inline;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:visited{
    text-decoration:underline;
    color: darkgreen;
}

nav a:hover{
    background-color: #fff;
    color: #d92323;
}

section{
    float: left;
    width: 50%;
    padding: 10px;
}

main:after{
    content: "";
    display: table;
    clear: both;
}

img{
    height: 50%;
    max-width: 70%;
    opacity: 0.7;
}

img:hover{
    border: 1px solid #ddc10f;
    opacity: 1;
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out; /*smooth scaling effect */
}

footer{
    clear: both; /*fix float issues */
    background: #d92323;
    color: white;
    text-align: center;
}

